<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!--自定义的日志文件-->
    <!--spring 内置 org/springframework/boot/logging/logback/base.xml, 在jar包spring-boot-3.x.x.jar中
       1. appender
        - FILE 记录到文件
        - CONSOLE 打印在控制台
       2. 变量：
        - LOG_FILE 日志文件地址, 通过yml文件配置的
     -->

    <logger name="io.tmgg.framework.aop.SysLogAop" level="TRACE" >
        <appender-ref ref="CONSOLE"/>
    </logger>
</configuration>


