@import './fontSize.scss';
.gray-theme{
  filter: grayscale(100%);
}
.normal-theme{
  .app-font-size-xxxs{
    font-size: $normal-app-font-size-xxxs;
  }
  .app-font-size-xxs{
    font-size: $normal-app-font-size-xxs
  };
  .app-font-size-xs{
    font-size: $normal-app-font-size-xs;
  }
  .app-font-size-s{
    font-size: $normal-app-font-size-s;;
  }
  .app-font-size-m{
    font-size: $normal-app-font-size-m
  };
  .app-font-size-l{
    font-size: $normal-app-font-size-l;
  }
  .app-font-size-xl{
    font-size: $normal-app-font-size-xl;
  }
  .app-font-size-xxl{
    font-size: $normal-app-font-size-xxl;
  }
  .app-font-size-xxxl{
    font-size: $normal-app-font-size-xxxl;
  }
}
.care-theme{
  .app-font-size-xxxs{
    font-size: $care-app-font-size-xxxs;
  }
  .app-font-size-xxs{
    font-size: $care-app-font-size-xxs
  };
  .app-font-size-xs{
    font-size: $care-app-font-size-xs;
  }
  .app-font-size-s{
    font-size: $care-app-font-size-s;;
  }
  .app-font-size-m{
    font-size: $care-app-font-size-m
  };
  .app-font-size-l{
    font-size: $care-app-font-size-l;
  }
  .app-font-size-xl{
    font-size: $care-app-font-size-xl;
  }
  .app-font-size-xxl{
    font-size: $care-app-font-size-xxl;
  }
  .app-font-size-xxxl{
    font-size: $care-app-font-size-xxxl;
  }
}
