$normal-app-font-size-xxxs: 22rpx;
$normal-app-font-size-xxs: 24rpx;
$normal-app-font-size-xs: 26rpx;
$normal-app-font-size-s: 28rpx;
$normal-app-font-size-m: 30rpx;
$normal-app-font-size-l: 32rpx;
$normal-app-font-size-xl: 34rpx;
$normal-app-font-size-xxl: 36rpx;
$normal-app-font-size-xxxl: 40rpx;

$care-app-font-size-xxxs: 30rpx;
$care-app-font-size-xxs: 32rpx;
$care-app-font-size-xs: 34rpx;
$care-app-font-size-s: 36rpx;
$care-app-font-size-m: 38rpx;
$care-app-font-size-l: 40rpx;
$care-app-font-size-xl: 42rpx;
$care-app-font-size-xxl: 44rpx;
$care-app-font-size-xxxl: 46rpx;
