target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
/.idea/
pnpm-lock.yaml
node_modules/
.umi/
*.tgz
/web-monorepo/pnpm-publish-summary.json
/web-monorepo/taro/tmgg-system/package-lock.json
/web-monorepo/taro/tmgg-system-job/package-lock.json
/docs/package-lock.json
/docs/.vitepress/cache/
/web-monorepo/taro/tmgg-system-kettle/src/.umi-production/
/web-monorepo/taro/tmgg-system-job/src/.umi-production/
/web-monorepo/taro/tmgg-system-flowable/package-lock.json
dist/
/web-monorepo/packages/tmgg-base/types/
/web-monorepo/taro/tmgg-taro-base/lib/
/docs/_site/
/docs/.jekyll-cache/
/web/
/web-monorepo/packages/tmgg-taro-template/yarn.lock
/docs/.vuepress/.cache/
/docs/.vuepress/.temp/
/docs/docs/.vuepress/.cache/
/docs/docs/.vuepress/.temp/
/tmgg-system/derby.log
/tmgg-system/derby-test-data/
/tmgg-system/cache/
/tmgg-system/logs/app-log/spring.log
