/* 水印文字倾斜角度 */
.watermark {
  position: absolute;
  font-size: smaller;
  color: rgba(0, 0, 0, 0.1);
  z-index: 9000;
  pointer-events: none;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  transform: rotate(-30deg);
}
