.logo {
  height: 3rem;
  margin: 20px;
  border-radius: 6px;
  padding: 12px;
  background: rgba(255,255,255, .3);
  display: flex;
  align-items: center;
  gap: 0.5rem
}
.header {
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}