.main-layout {
  height: 100vh;

  .logo {
    height: 3rem;
    margin: 20px;
    border-radius: 6px;
    padding: 12px;
    background: rgba(255, 255, 255, .3);
    display: flex;
    align-items: center;
    gap: 0.5rem;
    img {
      height: 100%;
    }
  }

  .header {
    padding: 0 20px;
    height: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .header-right {
      display: flex;
      align-items: center;
      gap: 1.5rem;
      .item {
        cursor: pointer;
        &:hover{
          color: #063A69;
        }
      }
    }

  }

  .tabs-nav {
    margin-top: 6px;
    padding: 4px ;
    display: flex;
    background: white;
    flex-wrap: wrap;
    gap: 4px;

    .tab {
      border-radius: 8px ;
      padding: 4px 16px;
      background: rgba(0, 0, 0, 0.04);
      border: 1px solid #f0f0f0;
      display: flex;
      align-items: center;
      cursor: pointer;

      &:hover {
        color: #4990CD;
      }

      &.active {
        color: #063A69;

        .btn {
          font-weight: bold;
        }
      }

      .btn {
      }
      .icon {
        margin-right: 4px;
      }

      .remove {
        background: transparent;
        border: none;
        outline: none;
        cursor: pointer;
        transition: all var(--ant-motion-duration-slow);
        box-sizing: border-box;
        margin-left: 0.5rem;

        &:hover {
          color: red;
        }
      }
    }
  }
  #left-sider {
    height: 100%;
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: unset;
  }
  #content {
    height: 100%;
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: unset;
    .tab-content{
      padding: 8px;
    }
  }
}
