html,body{
  margin: 0;
  padding: 0;
}

@media print {
  .no-print {
    display: none;
  }
}

.hide-on-mobile{        //电脑端css
}

@media (max-width: 767px) {        //移动端css

  .hide-on-mobile{
    display: none !important;
  }

}
