.login-page {
  background-size: cover;
  background-image: url("../asserts/login_bg.jpg");


  width: 100vw;
  height: 100vh;


  .login-content {
    padding: 60px;
    background: #15184b44;
    width: 300px;
    position: fixed;
    right: 200px;
    top: 200px;

    .ant-form-item-label > label{
      color: white !important;
    }
  }
}

@media screen and (max-width: 768px) {
  .login-page {
    padding-top: 30%;

    .login-content {
      width: 90%;
      position: static;
      margin: 0 auto;
    }
  }
}


.login-form {
  max-width: 300px;
  margin: 0 auto;
}

.login-form-forgot {
  float: right;
}

.ant-col-rtl .login-form-forgot {
  float: left;
}


.login-page h1 {
  margin-bottom: 50px;
  text-align: center;
  color: white !important;
  font-size: x-large;
}

